.container {
	margin:0 auto;
}

.arriba {
	background-color: #4A484E;
}

.logo {
	margin-left:30px;
	width: 120px;
	height: 120px;
}

nav a{
	text-decoration: none;
	color:white;
	font-size: 14px;
	font-family: Arial
}
.menu {
	margin-left: 20%;
	margin-top: 8%;
	word-spacing: 12px;
}
.primera{
	background-color:#ECEAFF;
	height:300px;
	padding:15px;
}
.titulo {
	display:inline-block;
}
h1 {
	font-family: Arial;
}
p {
	color:#164079;
	padding-left:10px; 
	font-family: Arial;
}
img {
	max-width: 100%;
	margin-top: 10px;
}

.cuatros {
	border:2px solid #C6C6C6;
}
.nombres {
	color:#164079;
	text-align: center;
	font-family: Arial;
}

